$jubilee-teal: #00a29c;

.reveal {
  header {
    margin-bottom: 1em;
    font-size: 42pt;
  }

  #scheduleTable {
    margin-top: 10px;
    margin-bottom: 40px;
    // white-space: nowrap;
    font-family: 'Raleway', sans-serif;
    font-size: 70%;
  
    .changed {
      background-color: rgba(44,172,227, 0.25);
    }
  }
}

.flat-button-group-container {
  display: -webkit-inline-box;

  .flat-button-group {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.flat-button {
  background: $jubilee-teal;
}