$jubilee-teal: #00a29c;

.reveal {
  header {
    margin-bottom: 1em;
    font-size: 42pt;
  }

  table {
    margin-top: 10px;
    margin-bottom: 40px;
  }
}

.flat-button-group-container {
  display: -webkit-inline-box;

  .flat-button-group {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.flat-button {
  background: $jubilee-teal;
}

#scheduleTable {
  // white-space: nowrap;
  font-family: 'Raleway', sans-serif;
  font-size: 70%;
}