$jubilee-teal: #00a29c;

.reveal {

  .loader {
    border: 10px solid gainsboro; /* Light grey */
    border-top: 10px solid #f3f3f3; /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: auto;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }

  section {
    img {
      border: none;
      box-shadow: none;
    }

    #snapcode {
      margin-top: 100px;
    }
  }

  p {
    font-family: 'Raleway', sans-serif;
    font-size: 24pt;
    color: rgb(44,172,227);
    text-decoration: underline;
    margin: 0;
  }

  header {
    margin-bottom: 0.4em;
    font-size: 42pt;
    display: inline-grid;

    small {
      font-size: 20pt;
      font-style: normal;
      color: $jubilee-teal;
    }
  }

  #scheduleTable {
    margin-top: 10px;
    margin-bottom: 40px;
    // white-space: nowrap;
    font-family: 'Raleway', sans-serif;
    font-size: 70%;
  
    .changed {
      background-color: rgba(44,172,227, 0.25);
    }
  }

  .flat-button-group-container {
    display: -webkit-inline-box;
  
    .flat-button-group {
      display: block;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  
  .flat-button {
    background: $jubilee-teal;
  
    &:disabled {
      background: gray;
    }
  }

  .slides {
    .header {
      position: absolute;
      top: -60px;
      left: 0px;
      color: gray;
    }

    .footer {
      position:absolute;
      bottom: 50%;
      left: -50%;
    }
  }
}
