.reveal header {
  margin-bottom: 1em;
  font-size: 42pt; }

.reveal table {
  margin-top: 10px;
  margin-bottom: 40px; }

.flat-button-group-container {
  display: -webkit-inline-box; }
  .flat-button-group-container .flat-button-group {
    display: block;
    margin-left: 10px;
    margin-right: 10px; }

.flat-button {
  background: #00a29c; }

#scheduleTable {
  font-family: 'Raleway', sans-serif;
  font-size: 70%; }
