.reveal section img {
  border: none;
  box-shadow: none; }

.reveal section #snapcode {
  margin-top: 100px; }

.reveal p {
  font-family: 'Raleway', sans-serif;
  font-size: 24pt;
  color: #2cace3;
  text-decoration: underline;
  margin: 0; }

.reveal header {
  margin-bottom: 1em;
  font-size: 42pt;
  display: inline-grid; }
  .reveal header small {
    font-size: 20pt;
    font-style: normal;
    color: #00a29c; }

.reveal #scheduleTable {
  margin-top: 10px;
  margin-bottom: 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 70%; }
  .reveal #scheduleTable .changed {
    background-color: rgba(44, 172, 227, 0.25); }

.reveal .flat-button-group-container {
  display: -webkit-inline-box; }
  .reveal .flat-button-group-container .flat-button-group {
    display: block;
    margin-left: 10px;
    margin-right: 10px; }

.reveal .flat-button {
  background: #00a29c; }
  .reveal .flat-button:disabled {
    background: gray; }

.reveal .slides .header {
  position: absolute;
  top: -10%;
  left: 0%;
  color: gray; }

.reveal .slides .footer {
  position: absolute;
  bottom: 50%;
  left: -50%; }
